#!/bin/sh

set -e

. /usr/share/debconf/confmodule
db_version 2.0

CONF=/etc/default/irqbalance

if test -e $CONF; then
    . $CONF || true

    if [ "$ENABLED" = "1" ]; then
        db_set irqbalance/enable true
    else
        db_set irqbalance/enable false
    fi
    if [ "$ONESHOT" = "1" ]; then 
        db_set irqbalance/oneshot true
    else
        db_set irqbalance/oneshot false
    fi
fi

db_input low irqbalance/enable || true
db_input medium irqbalance/oneshot || true
db_go || true

exit 0

