#!/bin/sh

set -e

# Source debconf library.
. /usr/share/debconf/confmodule


if [ -f /etc/default/macchanger ]; then
    ENABLE_ON_POST_UP_DOWN=false
    . /etc/default/macchanger

    if [ "$ENABLE_ON_POST_UP_DOWN" = "true" ]; then
        db_set macchanger/automatically_run true
    else
        db_set macchanger/automatically_run false
    fi
fi

db_input high macchanger/automatically_run || true
db_go



exit 0
