[Desktop Entry]
Type=Application
Name=Indicator Printers
Exec=/usr/lib/x86_64-linux-gnu/indicator-printers/indicator-printers-service
OnlyShowIn=Unity;
NoDisplay=true
StartupNotify=false
Terminal=false
