[Desktop Entry]
Type=Application
Name=Indicator Keyboard
Exec=/usr/lib/x86_64-linux-gnu/indicator-keyboard/indicator-keyboard-service
OnlyShowIn=Unity;GNOME;
NoDisplay=true
StartupNotify=false
Terminal=false
AutostartCondition=GNOME3 unless-session gnome
X-Ubuntu-Gettext-Domain=indicator-keyboard
