[Desktop Entry]
Encoding=UTF-8
Exec=xdg-user-dirs-gtk-update
Name=User folders update
Comment=Update common folders names to match current locale
Terminal=false
OnlyShowIn=GNOME;LXDE;Unity;
Type=Application
StartupNotify=false
X-KDE-autostart-after=panel
NoDisplay=true
X-Ubuntu-Gettext-Domain=xdg-user-dirs-gtk
